.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230vh;
  text-align: center;
  background-image: url('imgs/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#logo{
  position: absolute;
  top: 30px;
}
.view {
  position: absolute;
  top: 250px;
  width: 90%; 
  max-width: 900px; 
  height: 190%;
  background-color: rgba(252, 248, 248, 0.749);
  border: none;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view p{
  position: absolute;
  top: 80px;
  font-weight: bold;
}
h1{
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  top: 10px;
}

h2,h3,h4,h5{
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  top: 250px;
  color: rgb(0, 0, 0);
  font-size: 1.1em; 
}

.opview {
  top: 130px;
  position: absolute;
  display: flex;
  justify-content: space-around;
}

button {
  border: none;
  width: 200px; 
  height: 250px;
  background-color: #060606;
  margin: 10px;
}
h7{
  position: absolute;
  font-weight: bold;
  font-size: 16px;
  top: -30px;
}

.profiles{
  justify-content: space-around;
  align-items: center;
  display: flex;
  margin: 30px;
  width: 80%;
  position: absolute;
  top: 480px;
}
.profile{
  display: flex;
  flex-direction: column; 
  align-items: center;
}
#wpp{
  margin-top: 20px;
}
.profile span{
  font-weight: bold;
  margin-top: 30px;
}
.profiles img{
  border-radius: 50%;
  width: 108px;
  height: 115px;
}
h8{
  position: absolute;
  top: 65%;
  font-weight: bold;
}
#location{
  position: absolute;
  top: 67%;
}
#map {
  left: 0;
  top: 72%;
  position: absolute;
}


@media (max-width: 768px) {
  .App{
    height: 550vh;
  }
  .view {
    border-radius: 1em;
    height: 500vh;
  }
  .opview{
    display: flex;
    flex-wrap: wrap;
  }
  
  button{
    margin: 20px;
  }
  h2{
    top: 23%;
  }
  h3{
    top: 48%;
  }
  h4{
    top: 72%;
  }
  h5{
    top: 97%;
  }
  .profiles{
    top: 55%;
  }
  h8{
    top: 78%;
  }
  #location{
    top: 79%;
  } 
  #map{
    top: 83%;
  }

  
}