.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
  text-align: center;
  background-image: url('imgs/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#logo{
  position: absolute;
  top: 50px;
}
.view {
  position: absolute;
  top: 250px;
  width: 900px; 
  height: 155%; 
  background-color: #f1f2ebcd; 
  border: none; 
  border-radius: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view p{
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  top: 10px;
  font-weight: bold;
  font-size: 30px;
}
.opview {
  top: 130px;
  position: absolute;
  display: flex; 
  flex-direction: column; 
}

.option {
  border: none;
  width: 800px; 
  height: 200px; 
  border-radius: 1%;
  background-color: #202020; 
  margin: 10px; 
}

#map{
  top: 62%;
  position: absolute;
}

@media (max-width: 768px) {
  .App{
    width: 100vw;
    height: 260%;
    position: absolute;
  }
  .view {
    width: 90%;
    height: 90%;
    top: 250px;
  }
  .opview{
    width: 90%;
    flex-direction: column; 
    align-items: center; 
  }
  .option {
    width: 275px;
    border-radius: 3%;
  }
  #map{
    
  }
}