
.App-header {
  font-family: 'Courier New', Courier, monospace;
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
#logo{

  position: absolute;
  top: 5%;
  left: 65%;
}
.App-header h1{
  position: absolute;
  font-size: 30px;
  left: 76%;
  top: 7%;
  color: black;
  font-family:'Calibri Light', sans-serif;
}
.profile{
  font-family:'Calibri Light', sans-serif;

  position: absolute;
  left: 65%;
  color: black;
}
#pf1{
  border-radius: 50%;
}
#pf2{

  border-radius: 50%;
}
#profilerc{
  background-color: #ffffff3f;
  opacity: 0%;
  top: 0px;
  left: 1px;
  position: absolute;
  display: flex;
}
#profilerc:hover{
  opacity: 35%;
  transition: 1s;
}
.bl1{
  display: flex;
  width: 80px;
  height: 80px;
  background-image: url(./imgs/pf1.png);
  background-size: 90px;
  border-radius: 50%;
}
.btrc {
  background-color: #ffffff3f;
  border-radius: 50%;
  height: 80px;
  opacity: 0;
  top: 0px;
  position: absolute;
  display: flex;

 }
 .btrc:hover{
  opacity: 35%;
  transition: 1s;

 }
 .btrf{
  background-color: #ffffff3f;
  border-radius: 50%;
  height: 80px;
  opacity: 0;
  top: 0px;
  left: 0;
  position: absolute;
  display: flex;
  
 }
 .btrf:hover{
  opacity: 35%;
  transition: 1s;

 }

 .boxrf{
  position: absolute;
  margin-left: 100%;
  align-content: center;
  align-items: center;
  left: 20%;
  position: absolute;
  width: 250px;
  height: 150px;
  padding: 35px;
  border-radius: 4px;
  background-color: #414141;
  z-index: 999;
}


.boxrc{
  top: 0;
  position: absolute;
  margin-left: 2.8%;
  align-content: center;
  align-items: center;
  left: 20%;
  position: absolute;
  width: 250px;
  height: 150px;
  padding: 35px;
  border-radius: 4px;
  background-color: #414141;
  z-index: 999;
}
.boxrc a{
  font-weight: bold;
}

.viewrc{
  display: none;
  align-content: center;
  align-items: center;
  top: 10px;
  left: 20%;
  position: absolute;
  width: 250px;
  height: 150px;
  padding: 35px;
  background-color: #f20000;
}
#igrc{
  position: absolute;
  top: 155px;
  left: 147px;
}
.icon-container{
  margin-left: 90px;
  
}
.iconrf-container{
  position: absolute;
  top: 75%;
  left: 86%;
}
.text {
  font-size: 20px;
  margin-left: 20px;
  font-weight: bold;
}

.container {
  display: flex;
  padding-bottom: 30px;
  align-items: center;
}

.textrf{
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
  margin-left: 100px;
  margin-right: 0;
  left: 60%;
}
.oabrf{
  position: absolute;
  top: 74%;
  left: 26%;
}
#emailrf{
  left: 85%;
  position: absolute;
}
#wpprf{
  left: 92%;
  position: absolute;
}

.bl2{
  position: absolute;
  top: 100px;
  left: 0;
  width: 80px;
  height: 80px;
  background-image: url(./imgs/pf2.png);
  border-radius: 50%;
  background-size: 80px;
}

.oab{
  left: 26%;
  top: 20%;
  position: absolute;
}

.header-container{
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  height: 100vh;
  width: 60%;
  max-width: 980px;
  background-image: url('/src/imgs/background.jpg'); 
  background-size: cover;
  background-position: center;  border-radius: 2px;
  opacity: 70%;
  background-color: #768678;
}
map-container{
  width: 50%;
  height: 50%;
}

.rdp{
  position: absolute;
  left: 60%;
  top: 80%;
  width: 600px;
  height: 145px;
  animation: slide-in 1s ease-in-out;
  background-color: #000000be;
}
.rdp a{
  left: 38%;
  width: 135px;
}
#loc{
  position: absolute;
  top: 60%;
  left: 46%;
}
.loctxt{
  font-family:'Calibri Light', sans-serif;
  top: 18%;
  left: 30%;
  position: absolute;
}
.profile a{
  color: rgb(2, 1, 1);
}


@keyframes slide-in{
  from {
    transform: translateX(-80%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slide-in2{
  from {
    transform: translateX(-80%);
  }
  to {
    transform: translateX(0);
  }
}
@media (max-width: 1000px){
  .header-container{
    top: 100%;
    width: 100%;
  }
  .App-header h1{
    left: 42%;
    margin-top: 15%;
    font-size: 20px;
  }
  #logo{
    position: absolute;
    top: 70px;
    left: 10px;
  }
  .profile{
    left: 15%;
  }
  .container{
    
    display: flex;
    left: 0;
  }
  #emrf{
    left: 50px;

  }
  #emailrf{
    left: 50%;
    }
  #wpprf{
    left: 59%;
  }

  .text{
    left: 0px;
  }
  .icon-container{
    position: absolute;
    margin-top: 30%;
    margin-left: 50%;
  }
  .iconrf-container{
    position: absolute;
    margin-top: 10%;
    left: 50%;
  }
  .rdp{
    width: 100%;
    left: 0;
    top: 700px;
  }
  #loc{
    left: 50%;
  }
  .loctxt{
    left: 18%;
  }
  .oab{
    margin-left: 10%;
  }
  .oabrf{
    margin-top: 8%;
    margin-left: 10%;
  }
  .viewrc{
    left: 0;
  }
  .boxrc{
    left: 0;
  }
  .boxrf{
    margin-left: 0px;
  }
}

@media (max-width: 600px){
  .rdp{
    top: 80%;
    height: 200px;
  }
  .header-container{
    position: absolute;
    top: 113%;
  }
} 